<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRACK YOUR MONEY</title>
    <link rel="stylesheet" href="expenses.css" />
  </head>
  <body>
    <div id="complete" style="display: flex">
      <div id="add-expense">
        <div class="heading">
          <h2>ADD A NEW EXPENSE</h2>
          <form id="myform">
            <label for="ammount">Ammount : </label>
            <input type="text" name="ammount" id="ammount" />
            <br />
            <label for="Description">Description : </label>
            <input
              list="Description"
              name="Description"
              id="descriptionInput"
            />
            <datalist id="Description">
              <option value="movie">movie</option>
              <option value="canteen">canteen</option>
              <option value="stationery">stationery</option>
              <option value="sports">sports</option>
              <option value="fuel">fuel</option>
              <option value="outings">outings</option>
            </datalist>
            <br />
            <label for="category">Category : </label>
            <select name="category" id="category">
              <option value="necessary">necessary</option>
              <option value="unnecessary">unnecessary</option>
              <option value="justified">justified</option>
            </select>

            <input type="hidden" id="expenseId" name="expenseId" />
        
            <input type="submit" id="submit" value="Submit" />
            <br />
          </form>
         
        </div>
        <div id="noPremium"><p>Get access to more features with premium membeship</p><br>
          <button id="premium-btn">Get Premium</button>
          <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
          </div>
          <div class="premium" id="premium">
            <h2>Welcome Premium User </h2>
          </div>
          <div class="premium" id="leaderboard">
            <h3>Leaderboard </h3>
            <header id="leader-header"><span>Name</span><span>Total Expense</span></header>
            <ul id="leader-list">
              <!-- <li class="leader-item"><span class="leadername">name</span><span class="leader-money">money</span></li>
              <li class="leader-item"><span class="leadername">name</span><span class="leader-money">money</span></li> -->
            </ul>
          </div>
          <div class="premium">
            <button id="report">Display Report</button>
            <button id="hidereport">Hide Report</button>
          </div>
      </div>
      <!-- displaying expenses -->

      <div id="display-expense">
        <h2>YOUR EXPENSES</h2>
        <div class="page" id="pagination">
          <form class="page" id="paginationForm">
            <label for="rowspp">Rows Per Page : </label>
            <input type="text" name="rowspp" id="rowspp" value="6">
            <input type="submit" id="paginationSubmit" value="display">
          </form>
        <div class="page" id="paginationBtn">
          <button class="paginationBtns" id="backward"><</button> 
          <span class="paginationBtns" id="mid"></span>
          <button class="paginationBtns" id="forward"> > </button>
        </div>
        </div>
        <div class="display" id="display">
          <ul id="displayList">
            
          </ul>
      </div>
      <div class="premium" id="reports">
        <h3>Your Report :</h3>
        <ul id="desRepo" class="displayReports">
  
      </ul>
      <ul id="catRepo" class="displayReports">
      
      </ul>
    </div>
    <div class="page premium">
  <button id="downloadReport" >Download This Report</button>
      <button id="allReport">Show previous reports</button>
      <button id="hideallReport">hide previous reports</button>
    </div>
      
    <div id="previousrReports">
      <h4>click to download any report</h4>
      <ul id="previousReportsList">
      
      </ul>
    </div>
  </div>
    </div>
    <script crossorigin="anonymous" src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.2.0/axios.min.js"></script>
    <script src="expense.js"></script>
  </body>
</html>
