<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRACK YOUR MONEY</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="complete" style="display: flex;">
<div id="image">
        <h1 class="heading" >TRACK YOUR MONEY</h1>
    <img src="https://images.unsplash.com/photo-1553729459-efe14ef6055d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
    <br>
    <br>
    <div>
        <p>stuck with checking on daily expenses then you are at the right place, "TRACK YOUR MONEY" is your one stop destination to monitor all your expenses and study them.</p>
    </div>
</div>

<div id="details">
 <div id="sign-in">
    <h3 class="sign-para"> New user?just sign up and start saving from today!!!</h3>
    <form action="" id="form">
        <label for="name">NAME : </label>
        <input type="text" name="name" placeholder="name" id="name">
        <label for="email">E-MAIL : </label>
        <input type="text" name="email" placeholder="email" id="email">
        <label for="passowrd">PASSWORD : </label>
    <input type="password" name="passowrd" id="password" placeholder="enter password">

    <input class="btn" id="signup-btn" type="submit" value="SIGN UP">
    </form>
    
 </div>  
 <br>
 <br>
 <div id="log-in">
<h3 class="para">If you have already created account then click to login</h3>
<button class="btn" id="login-btn"><a href="login.html">LOG IN</a></button>
 </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.2.0/axios.min.js"></script>
 <script src="index.js"></script>
</body>
</html>